<% categories.forEach((category) => { %>

<% 
  const productPageUrl = encodeURI(`/products?category=${category.id}&title=${category.name}`);
%>

<li>
  <a href=<%= productPageUrl %> ><%= category.name %></a>
  <% if (showModifyLinks) { %>
    <a href=<%= `/category/${category.id}/update` %> >Update<a>
    <a href=<%= `/category/delete?id=${category.id}`%> >Delete<a>
  <% } %>
</li>
<% }); %>
