<% categories.forEach((category) => { %>
<li>
  <a href=<%= `/products?category=${category.id}`%> ><%= category.name %></a>
  <% if (showDeleteButton) { %>
    <a href=<%= `/category/delete?id=${category.id}`%> >Delete<a>
  <% } %>
</li>
<% }); %>
