<header>
  <img class="logo" src="logo.png" alt="DropShop text with tennis ball above it"/>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/category">Category</a></li>
      <li><a href="/brands">Brands</a></li>
      <li><a href="/stores">Stores</a></li>
    </ul>
  </nav>
  <form class="search-box" action="/products" method="GET">
    <input
      type="text"
      name="search"
      aria-label="Search for products"
      placeholder="Search products"
      value="<%= previousQuery %>"
    />
    <button type="submit"><img class="search-icon" src="search.svg" alt="search icon"/></button>
  </form>
</header>
