<header>
  <h1>DropShop Tennis - Inventory Manager</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/category">Category</a></li>
      <li><a href="/brands">Brands</a></li>
      <li><a href="/stores">Stores</a></li>
    </ul>
  </nav>
</header>
