.logo {
  width: 200px;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.stock-levels {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-list{
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  text-align: center;
  gap: 8px;
}

.item-image, .no-preview {
  width: 100px;
  height: 175px;
  object-fit: contain;
}

.no-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-image {
  height: 175px;
  width: 175px;
  object-fit: contain;
}

.category-listing {
  display: flex;
  flex-direction: column;
}
