/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* End of CSS Reset */

:root {
  --main-accent-colour: #17424B;
  --main-accent-colour-lighter: #4b747b;
  --secondary-accent-colour: #ddec2f;
  --background-color: #ffffff;
  --border-colour: #e4e4e4;
  --content-max-width: 1250px;
}

body {
  margin: 0;
  position: relative;
  font-family: "Afacad", sans-serif;
  font-size: 1.1rem;
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border-colour);
  padding: 10px 0;
  background-color: var(--background-color);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 1.4rem;
}

nav a {
  color: var(--main-accent-colour-lighter);
  font-weight: 700;
  text-decoration: none;
}

nav a:hover {
  color: var(--main-accent-colour);
  text-decoration: underline;
  text-underline-offset: 6px;
}

main {
  margin: auto;
  max-width: var(--content-max-width);
  text-align: center;
  padding-top: 20px;
}

h2 {
  color: var(--main-accent-colour);
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: var(--content-max-width);
}

.logo {
  width: 150px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-accent-colour);
  padding: 4px;
}

.search-box > * {
  border: none;
  background-color: transparent;
  outline: none;
}

.search-icon {
  width: 24px;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.stock-levels {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-list{
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  text-align: center;
  gap: 8px;
}

.item-list.home {
  grid-template-columns: repeat(3, 1fr);
}

.item-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-image, .no-preview {
  width: 100px;
  height: 175px;
  object-fit: contain;
}

.no-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-image {
  height: 175px;
  width: 175px;
  object-fit: contain;
}

.category-listing {
  display: flex;
  flex-direction: column;
}
