<h2>Brands page</h2>
<ul>
  <% brands.forEach((brand) => { %>
  <% 
    const productPageUrl = encodeURI(`/products?brand=${brand.id}&title=${brand.name}`);
  %>

  <li><a href=<%= productPageUrl %> ><%= brand.name %></a></li>
  <% }); %>
</ul>
