<h2>Brands page</h2>
<ul class="item-list">
  <% brands.forEach((brand) => { %>
  <% 
    const productPageUrl = encodeURI(`/products?brand=${brand.id}&title=${brand.name}`);
  %>

  <li>
    <img class="brand-image" src="<%= brand.image %>" alt="<%= brand.name %>"/>
    <div>
      <a href=<%= productPageUrl %> ><%= brand.name %></a>
    </div>
  </li>
  <% }); %>
</ul>
