<h2>Brands</h2>
<ul class="item-list">
  <% brands.forEach((brand) => { %>
  <% 
    const productPageUrl = encodeURI(`/products?brand=${brand.id}&title=${brand.name}`);
  %>

  <li>
    <a href=<%= productPageUrl %> >
      <img class="brand-image" src="<%= brand.image %>" alt="<%= brand.name %>"/>
      <%= brand.name %>
    </a>
  </li>
  <% }); %>
</ul>
