<h2>Home page</h2>
<ul class="category-list">
  <li class="category-listing">
    <img class="category-image" src="/all_products.webp" alt="Assortment of tennis gear" />
    <a href="/products">All Products</a>
  </li>
  <%- include("../partials/categoryLinks", {categories}) %>
</ul>
