<h2>Home</h2>
<ul class="item-list home">
  <li class="category-listing">
    <a href="/products" class="item-label">
      <img class="item-image" src="/all_products.webp" alt="Assortment of tennis gear" />
      All Products
    </a>
  </li>
  <%- include("../partials/categoryLinks", {categories}) %>
</ul>
