<form class="create-form" action="/products/new" method="POST">
  <label for="name">Name: </label>
  <input
    type="text"
    id="name"
    name="name"
    placeholder="Wilson Pro Staff Racquet"
    required
  />
  <label for="image">Image URL: </label>
  <input
    type="text"
    id="image"
    name="image"
    placeholder="https://example.com/image01"
  />
  <label for="price">Price: </label>
  <input type="text" id="price" name="price" placeholder="299.95" required/>
  <label for="category">Category: </label>
  <select id="category" name="category">
    <% categories.forEach((category) => { %>
    <option value="<%= category.id %>"><%=category.name%></option>
    <% }) %>
  </select>
  <label for="brand">Brand: </label>
  <select id="brand" name="brand">
    <% brands.forEach((brand) => { %>
    <option value="<%= brand.id %>"><%=brand.name%></option>
    <% }) %>
  </select>
  <button type="submit">Add</button>
</form>
