<h2>New Category</h2>
<div class="content-container">
  <form class="create-form" action="/category/new" method="POST">
    <label for="name">Name: </label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Racquets"
      required
    />
    <div class="form-actions">
      <button type="submit">Add</button>
    </div>
  </form>
</div>