<h2>Stores</h2>
<ul class="store-list">
  <% stores.forEach((store) => { %>
  <% 
    const productPageUrl = encodeURI(`/products?store=${store.id}&title=${store.name}`);
  %>

  <li class="store-listing"><img class="icon" src="/location.svg" alt="location pin icon"><a href=<%= productPageUrl %> class="item-label"><%= store.name %></a></li>
  <% }); %>
</ul>
