<h2>Stores</h2>
<ul class="store-list">
  <% stores.forEach((store) => { %>
  <% 
    const productPageUrl = encodeURI(`/products?store=${store.id}&title=${store.name}`);
  %>

  <li><a href=<%= productPageUrl %> ><%= store.name %></a></li>
  <% }); %>
</ul>
